@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F9FAF4;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
    padding: 40px 8%;
    z-index: 10000;
}

header.sticky{
    padding: 5px 5%;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

header.sticky ul li a{
    color: #000;
}

.logo{
    height: 100%;
    width: 100%;
    margin-right: auto;
}

nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav a{
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.6s;
    text-transform: uppercase;
}

nav a:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: orange;
    transition: all 0.4s ease;
}

nav a:hover:before{
    width: 100%;
}

.button{
    padding: 5px 20px;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
    color:#F9FAF4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button:active{
    background-color: orange;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    align-items: center;    
    justify-content: center;
}

.swiper{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
}

.swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}

.swiper-slide .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 35%;
    right: 10%;
    left: 10%;
    color: #F9FAF4;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .content{
    transform: translateX(0);
    opacity: 1;
    transition: 1.5s ease;
}

.swiper-slide .content h2{
    position: relative;
    font-size: 40px;
    margin-bottom: 15px;
}

.swiper-slide .content p{
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}

.swiper-slide .content button{
    position: relative;
    font-size: 20px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 60px 100px 100px;
}

.who, .facility{
    background-color: #FFC94B;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.who .section-title{
    font-size: 3em;
    margin-bottom: 30px;
    color: #F9FAF4;
}

.who .section-title::after{
    content: " ";
    background: #F9FAF4;
    display: block;
    height: 3px;
    width: 170px;
    margin: 0 100px 10px;
}

.offer .section-title{
    font-size: 3em;
    margin-bottom: 30px;
    color: #1A2B3E;
}

.offer .section-title::after{
    content: " ";
    background: #1A2B3E;
    display: block;
    height: 3px;
    width: 200px;
    margin: 0 0 10px 130px;
}

.facility .section-title{
    font-size: 3em;
    color: #1A2B3E;
}

.facility .section-title::after{
    content: " ";
    background: #1A2B3E;
    display: block;
    height: 3px;
    width: 170px;
    margin: 0 90px 30px;
}

.testimonials .section-title{
    font-size: 3em;
    margin: 0 70% 0 70%;
    color: #1A2B3E;
}

.testimonials .subtitle{
    font-size: 1em;
    margin: 0 20% 0 20%;
    color: #1A2B3E;
}

#form .section-title{
    font-size: 3em;
    color: orangered;
}

.content{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
    text-align: justify;
    color: #1A2B3E;
}

.card{
    width: 300px;
    height: 300px;
    margin: 0px 30px;
    /*box-shadow: 5px 5px 20px #000;*/
    float: left;
    overflow: hidden;
    position: relative;  
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1F3D4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.card:hover .card-body{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

.card-info{
    font-size: 15px;
    line-height: 25px;
    margin: 30px 0;
    font-weight: 400;
}

.card .button{
    padding: 10px;
    background-color: #F9FAF4;
    border-radius: 5px;
    width: 120px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
}

.facility .info{
    width: 500px;
    margin-right: 50px;
    font-weight: 500;
    text-align: justify;
    color: #1A2B3E;
}

.profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.profilepic img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.profilepic::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 10px solid #FFC94B;
    box-shadow: 0 1px hsla(0, 0%, 0%, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials{
    background: #F9FAF4;
    padding: 40px;
    display: flex;
    place-items: center;
}

.testi-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.testi{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 30px 0 30px;
}

.testi-content{
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.1);
    margin-top: -50px;
}

.testi-text{
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5;
    margin: 50px 0;
    overflow: hidden;
}

.testi-name{
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#form .container{
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

#form .container .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputbox50{
    position: relative;
    margin: 10px 0 35px 0;
    width: 47%;
}

.inputbox100{
    position: relative;
    margin: 10px 0 35px 0;
    width: 100%;
}

.inputbox50 input, .inputbox50 textarea,
.inputbox100 input, .inputbox100 textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    background-color: #F9FAF4;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.inputbox50 textarea, .inputbox100 textarea{
    min-height: 120px;
}

.inputbox50 span, .inputbox100 span{
    position: absolute;
    left: 0;
    padding: 5px 0 5px 0;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox50 input:focus ~ span, .inputbox50 textarea:focus ~ span,
.inputbox100 input:focus ~ span, .inputbox100 textarea:focus ~ span,
.inputbox50 input:valid ~ span, .inputbox50 textarea:valid ~ span,
.inputbox100 input:valid ~ span, .inputbox100 textarea:valid ~ span{
    transform: translateY(-25px);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: orangered;
}

.inputbox50 input[type="submit"], .inputbox100 input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: orangered;
    color: #F9FAF4;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    max-width: 150px;
    padding: 12px;
}   

.inputbox50 input[type="submit"]:active, .inputbox100 input[type="submit"]:active{
    background: orange;
}

footer{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 100px 20px;
    background-color: #1A2B3E;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}    

footer p{
    color: #8391A1;
    text-align: justify;
}    

footer .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container h2{
    position: relative;
    color: #F9FAF4;
    font-weight: 500;
    margin-bottom: 20px;
}    

footer .container h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60px;
    height: 2px;
    background: orange;
}    

.sec.about{
    margin-right: 30px;
}

.about{
    width: 35%;
}

.socialmedia{
    margin-top: 20px;
    display: flex;
}

.socialmedia li{
    list-style: none;
}

.socialmedia li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.socialmedia li a:hover{
    background-color: orange;
}

.contact{
    position: relative;
    width: 25%;
    margin-bottom: auto;
}

.contact li{
    display: flex;
    margin-bottom: 16px;
}

.contact li span{
    color: #8391A1;
}

.contact li a{
    color: #8391A1;
    text-decoration: none;
}

.contact li a:hover{
    color: #F9FAF4;
}

.contact li img{
    margin-right: 10px;
}

.credit{
    width: 20%;
    margin-right: 0;
    margin-bottom: auto;
}

.copyright{
    color: #8391A1;
    width: 100%;
    padding-top: 8px;
    margin-top: 30px;
    text-align: center;
}

.copyright a{
    text-decoration: none;
    color: #8391A1;
}

.copyright a:hover{
    color: #F9FAF4;
}